.faceapp__container img {
    width: 60vw;
    height: 80vh;
    aspect-ratio: 1/1;
}

.faceapp__container {
    display: flex;
    margin-top: 50px;
}

canvas {
    width: 60vw;
    height: 80vh;
    position: absolute;
}